* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  padding: 60px;
}

.btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-flow: wrap;
  width: 20em;
}

.search-box{
  z-index:1 ;
  margin: 10px;
  position: absolute;
  top: 0;
  justify-content: space-around;
  display: flex;
}

    
@media screen and (max-width: 1000px) {
  .card {
    width: 80%;
  }
}
  
@media screen and (max-width: 620px) {
  .container {
    width: 100%;
}
  
  .heading {
    padding: 20px;
    font-size: 20px;
  }
  
  .card {
    width: 80%;
  }
}