* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

 .container{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 90%;
     justify-content: center;
  }

  .row{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-flow: wrap;
      width: 20em;
  }

    
  @media screen and (max-width: 1000px) {
    .card {
      width: 40%;
    }
  }
  
  @media screen and (max-width: 620px) {
    .container {
      width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }
  
    .card {
      width: 80%;
    }
  }